.edit-btn {
    background-color: #8FEBFF;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .edit-btn:hover {
    background-color: #07a0c3;
    transform: scale(0.9);
  }
  
  .delete-btn {
    background-color: #ff6767;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .delete-btn:hover {
    background-color: #b83f31;
    transform: scale(0.9);
  }
  
  .logoutBtn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 16px;
      width: 45px;
      height: 40px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: .3s;
      box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.199), inset 2px 2px 5px rgba(255, 255, 255, 0.299);
      background-color: rgba(255, 65, 65, 0.75);
    }
  
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 16px;
      width: 45px;
      height: 40px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition-duration: .3s;
      box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.199), inset 2px 2px 5px rgba(255, 255, 255, 0.299);
    }
    
    /* plus sign */
    .sign {
      width: 100%;
      transition-duration: .3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .sign svg {
      width: 17px;
    }
    
    .sign svg path {
      fill: white;
    }
    /* text */
    .text {
      position: absolute;
      right: 0%;
      width: 0%;
      opacity: 0;
      color: white;
      font-size: 1.2em;
      font-weight: 600;
      transition-duration: .3s;
    }
    /* hover effect on button width */
    .logoutBtn:hover {
      width: 120px;
      border-radius: 10px;
      transition-duration: .3s;
    }
    
    .logoutBtn:hover .sign {
      width: 30%;
      transition-duration: .3s;
      padding-left: 20px;
    }
    /* hover effect button's text */
    .logoutBtn:hover .text {
      opacity: 1;
      width: 70%;
      transition-duration: .3s;
      padding-right: 10px;
    }
    /* button click effect*/
    .logoutBtn:active {
      box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199), inset 2px 2px 5px rgba(0, 0, 0, 0.199);
    }
  
    /* ----------------------------------------------------------------------- */
  
    /* Container for the profile picture */
  .profile-pic-container {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
  }
  
  /* Style for the profile picture */
  .profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .change_icon svg {
    width: 40px;
    height: fit-content;
    padding: 0;
    margin: 0 auto;
  }
  
  /* Overlay for the change button */
  .change-btn-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Hover effect to make the button visible */
  .profile-pic-container:hover .change-btn-overlay {
    opacity: 1;
  }
  
  /* Style for the change button */
  .change-btn-overlay .change-btn {
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  /* Optional: Additional button hover effect */
  .change-btn-overlay .change-btn:hover {
    background-color: #07a1c379;
    transform: scale(0.9);
  }