@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

/* Start of Header/Navbar */
header, .navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  outline: none;
}

/* Navbar Inverse (For Dark Mode or Alternative Styling) */
.navbar-inverse {
  border: none;
  background-color: #36454F; /* Increased transparency */
  backdrop-filter: blur(5px); /* Increased blur intensity */
  -webkit-backdrop-filter: blur(15px);
}

/* Prevent text selection */
li, a {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* Prevent dragging */
li, a {
  -webkit-touch-callout: none; /* Prevents the callout on touch devices */
  -webkit-user-drag: none; /* Prevents image and link dragging */
}

/* Active Link Styling */
.navbar-nav>li.active>a,
.navbar-nav>li.active>a:focus,
.navbar-nav>li.active>a:hover {
  background-color: rgba(61, 90, 128, 0.9) !important; /* Slightly darker on active state */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Toggle Button for Mobile View */
.navbar-toggle {
  background-color: #102A7E;
  border: none;
  border-radius: 3px;
}

/* Navbar Links */
.navbar-nav li a {
  color: #ffffff !important;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

/* Hover Effect for Links */
.navbar-nav li a:hover {
  color: #102A7E !important;
  background-color: transparent;
}

.nav-btn {
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover {
  transform: scale(1.1);
}

.navbar {
  padding: 10px 0;
}

/* Dropdown Menu Styling */
.dropdown, .login {
  border-radius: 10px;
  backdrop-filter: blur(5px);
  margin-right: 16px;
  max-width: fit-content;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.199), inset 2px 2px 5px rgba(255, 255, 255, 0.199);
  transition: all 0.3s ease-in-out;
}
.dropdown:active, .login:active {
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.199), inset 2px 2px 5px rgba(0, 0, 0, 0.199);
}
.d-m {
  margin: 0px 8px;
  padding: 10px;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.details, .dropdown-menu li a {
  color: #102A7E !important;
  transition: all 0.3s ease;
}
.dropdown-menu li a:hover {
  color: #FF2E15 !important;
  background-color: rgba(62, 181, 255, 0.8);
}

/* Dropdown Item Styling */
.dropdown-item li a {
  color: #102A7E !important;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}

.dropdown-toggle {
  transition: all 0.3s ease-in-out;
}
.dropdown-toggle:hover {
  transform: scale(0.97);
}

/* Divider Styling */
.divider {
  border-top: 2px solid rgba(100, 100, 100, 0.2);
}

/* Avatar Styling */
.drop-circle {
  border-radius: 50%;
  border: 2px solid #0090ff;
  /* background: #0090ff; */
  margin-right: 16px;
}
/* Navbar Hover Dropdown */
.navbar-nav > li:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* End of Header/Navbar */

/* Start of Basic Attributes */
  /* html, body, footer, button, a, input, select, option {
    cursor: url('badminton_cursor.png'), auto;
  }
  button:hover, a:hover, input:hover, select:hover, option:hover {
    cursor: url('racket_cursor.png'), auto;
  } */
  body {
    display: flex;
    flex-direction: column;
    min-width: auto;
    min-height: 100vh;
    margin: 0;
    background-image: url('background.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
  }
  main {
      flex: 1;
  }
  footer {
    background-color: transparent;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    text-align: center;
  }
/* End of Basic Attributes */

/* Start of Text */
  h2 {
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px;
    color: #FA9A54;
    text-shadow: 1px 2px 2px #626262;
    
  }
  h3 {
    font-family: 'Anton', sans-serif;
  }
  h5 {
    color: #755E48 !important;
    font-family: 'Roboto', sans-serif;
  }
  .p0 {
    font-family: 'League Spartan', sans-serif;
    font-size: 58px;
    color: #000;
  }
  .p1 {
    font-family: 'League Spartan', sans-serif;
    color: #000;
    text-shadow: 2px 2px #FFFFFF;
    font-size: 48px;
  }
  .p2 {
    font-family: 'League Spartan', sans-serif;
    color: #000;
    font-size: 28px;
  }
  .p3 {
    font-family: 'League Spartan', sans-serif;
    color: #000;
    font-size: 36px;
  }
  .p4 {
    font-family: 'League Spartan', sans-serif;
    color: #000;
    font-size: 36px;
  }
  p {
    font-size: 18px;
    /* text-shadow: 1px 1px 0px #544547; */
  }
  li {
    color: #ffffff;
    /* font-weight: bold; */
  }
/* End of Text */

/* Start of Grid */
  .jumbo {
    padding: 40px;
    /* background-color: rgba(7, 160, 195, 0.75); */
  }
  .container, .scroll-card {
    overflow: visible;
  }
  .scroll-card {
    margin-bottom: 28px;
  }
  .row {
    display: flex;
    padding: 20px 10px 20px 10px;
    gap: 1rem;
    position: relative;
  }
  .horizontal-scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
  }
  .horizontal-scroll, .horizontal-scroll * {
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For Internet Explorer/Edge */
  }
  .horizontal-scroll img {
    pointer-events: none; /* Disable pointer events on images */
    -webkit-user-drag: none; /* Disable image dragging in Safari */
  }
  .horizontal-scroll.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  
  .horizontal-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    border-radius: 5px;
  }
  .horizontal-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
  }
  .horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #07a0c3;
  }
  .horizontal-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .box {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 15px;
  }
  .box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
/* End of Grid */
  
/* Start of Scrollbar */
  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #07a0c3;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
/* End of Scrollbar */

  .rounded-circle {
    border-radius: 50%;
    border: 4px solid #0090ff;
    /* background: #0090ff; */
  }
  
  /* From Uiverse.io by elijahgummer */ 
.download-button {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #819a29;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 1px;
  padding: 0 12px;
  text-align: center;
  width: 150px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 3px;
  outline: none;
  user-select: none;
  cursor: pointer;
  transform: translateY(0px);
  position: relative;
  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #819a29,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
  background: #a4c639;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  transition: 150ms all ease-in-out;
}

.download-button .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}

.download-button:active {
  transform: translateY(3px);
  box-shadow:
    inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1),
    0 0 0 #819a29,
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.download-button:hover .text-1 {
  transform: translateX(110px);
}
.download-button:hover .icon {
  transform: translate(50px);
}

/* redirect-button */
.redirect-button {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 1px;
  padding: 0 12px;
  text-align: center;
  width: 150px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 3px;
  outline: none;
  user-select: none;
  cursor: pointer;
  transform: translateY(0px);
  position: relative;
  box-shadow:
    inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #000,
    0 3px 2px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
  background: #212121;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  transition: 150ms all ease-in-out;
}

.redirect-button .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}

.redirect-button:active {
  transform: translateY(3px);
  box-shadow:
    inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1),
    0 0 0 #000,
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.redirect-button:hover .text-1 {
  transform: translateX(110px);
}
.redirect-button:hover .icon {
  transform: translate(35px);
}

.text-1 {
  transition: all 0.5s ease-in-out;
}

/* From Uiverse.io by alexmaracinaru */ 
.card {
  flex: 0 0 auto;
  max-width: 306.4px;
  max-height: 326.4px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: transform 0.3s ease, z-index 0.3s ease;
  position: relative;
  will-change: transform, z-index;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  max-height: 169px;
  border-radius: 6px 6px 6px 6px;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  border-radius: 6px 6px 6px 6px;
}

.category {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
}

.name {
  font-weight: 600;
}